* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Example: Remove border */
header, .menu-container {
    border: 0;
  }
  
.header-container {
    background-color: rgb(38, 49, 60);
    color: white;
    display: flex;
    justify-content: left;
    padding: 20px 0;
}

.header {
    width: 900px;
}

.header-logo {
 
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    padding-left: 150px;
    padding-right: 150px;
}

.header-link {
    font-size: 14px;
    font-weight: lighter;
    display: flex;
    justify-content: flex-end;
    padding-right: 110px;
    padding-left: 30px;
    gap: 24px;
}

.menu-container {
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(38, 49, 60);
    color: white;
    padding: 50px;
    padding-left: 140px;
}

.menu-item {
    width: 425px;
    height: 275px;
   
}
.text {
    margin-right: 250px;
    font-size: 50px;
    font-weight: bold;
    text-wrap: wrap;
    margin: 10px;
}
.subtext {
    font-size: 16px;
    width: 375px;
    font-weight: lighter;
    margin: 10px;
    font-family:  "Roboto";

}
button {
    width: 7em;
    height: 3em;
    font-weight: bold;
    background-color: blue;
    border: 1px solid white;
    color: white;
    margin: 10px;
    border-radius: 10px;
}
.img-placeholder {
    height: 275px;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;

}

.img-txt {
    text-align: center;
    background-color: rgb(104, 112, 116);
    border-color: solid rgb(104, 112, 116);
    padding: 100px;
}
.container1 {
    background-color: rgb(255, 255, 255);
    padding: 40px;
}

.random-text {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    }

.photos {
    height: 184px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 48px;
}

.photo1,
.photo2,
.photo3,
.photo4 {
    width: 150px;
    height: 150px;
    border: 3px solid rgb(0, 115, 255);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.photo-text {
    height: 115px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 48px;
}

.text-container1,
.text-container2,
.text-container3,
.text-container4 {
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    width: 150px;
    height: 66px;
}
.quote {
    background-color: rgb(229, 228, 228);
}
.quote-text {
    text-align: left;
    font-size: 45px;
    font-weight: lighter;
    font-style: italic;
    padding-top:  2em;
    margin-left: 3em;
    margin-right: 3em;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    padding-bottom: 100px;
}
.call-to-action {
    height: 165px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  rgb(0, 115, 255);
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: white;
    border-radius: 15px;
    gap: 150px;
}
.cta-item {
    text-align: left;
    padding-top: 60px;
    padding-left: 30px;
}
   .cta-text {
    font-weight: bold;
}

.sign-up {
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    align-self: center;
    padding-right: 30px;
}

.footer {
    padding: 30px;
    background-color: rgb(38, 49, 60);
}

.footer-text {
    color: white;
    text-align: center;
    font-size: 14px;
}
